/* Poppins font */
@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: semibold;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}

:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/* COLORS */
:root {
  --first-color: #00adb5;
  --second-color: #393e46;
  --white-color: #eeeeee;
}

/* FONT */
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px) {
  :root {
    --body-font: "Poppins", sans-serif;
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/* MARGINS */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* z index */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* ===== BASE ===== */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  line-height: 1.6;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
hr {
  border: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ===== LAYOUT ===== */
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

/* === GENERAL CLASSES === */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.skills_desc {
  text-align: center;
}

/* ===== BUTTONS ===== */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 0.75rem 1.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
}
.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== MEDIA QUERIES ===== */
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  @media screen and (min-width: 1024px) {
    .bd-grid {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
